/* #banner{
    min-height: 500px;
} */

/* #banner{
    height: 500px;
    max-height: 100%;
} */


.banner-height{
    height: 500px;
    max-height: 100%;
}

#banner img{
    object-fit: cover;
    object-position: top;
}