#feature{
    /* padding: 5px 0 0 0; */
    color: #868686;
}

#feature div div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 0 0;
}
#feature div div h2, #feature div div p, #feature div div li{
    padding: 10px 0 0 0;
}
#feature div div ul{
    padding-left: 20px;
}
#feature img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding: 10px 0 0 0;
}