@import url("header.css");
@import url("main.css");
@import url("menu-mobile.css");
@import url("banner.css");
@import url("feature.css");
@import url("boxes.css");
@import url("footer.css");


*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body{
    background-color: #D1D1D1;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 5px;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}
.paddingY{
    padding: 50px 0;
}


#content{
    background-color: #fff;
}

.col-full{
    max-width: 100%;
}

@media (min-width: 776px){
    .col-md-terco{
        max-width: 66.33333% !important;
    }
    .justify-content-md-between{
        justify-content: space-between !important;
    }
    .text-md-left{
        text-align: left !important;
    }
}


.splide__slide{
    width: 100% !important;
}

.splide__slide img{
    width: 100% !important;
}
